<h1>Entrer le premier numéro</h1>

<%= @first_term = gets.chomp.float %>

<h1>Entrez l'opérateur ( +, - , *, /):</h1>

<%= @operator = gets.chomp %>

<h1>Entrez le deuxième nombre :</h1>

<%= @second_term = gets.chomp.float %>




<%= link_to "back to home", root_path %>
